html, body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

button {
  border: 0.1rem solid #003c9c;
  color: #003c9c;
  background-color: white;  
  border-radius: 0.3rem;
}

button:hover {
  border: 0.1rem solid white;
  background-color: #003c9c;
  color: white;  

}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 5px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.shadow-1 {
  box-shadow: 3px 6px 15px #dbdbdb;
}

.bold {
  font-weight: bold;
}

.bd-radius-5 {
  border-radius: 0.5rem;
}

.bd-radius-10{
  border-radius: 1rem;
}

.bd-width-0 {
  border-width: 0px;
}

/* dimension */

.wp-100{
  width: 100%;
}

/* size word */
.s-small {
  font-size: 0.8rem;
}

.s-normal {
  font-size: 1rem;
}

.s-big {
  font-size: 1.2rem;
}

.s-large {
  font-size: 1.6rem;
}

.s-vlarge {
  font-size: 2rem;
}

/* color */

.c-white {
  color: white;
}

.c-black {
  color: black;
}

.c-red {
  color: #e00f00;
}

.c-blue {
  color: #34b7eb
}

.c-green {
  color: #07db00;
}

.c-gray {
  color: gray;
}

.c-yellow {
  color: yellow;
}
/* background */

.bg-blue {
  background-color: #0398fc;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #f2f2f2;
}

/* dimension */

.ht-4 {
  height: 4rem;
}

.ht-3 {
  height: 3rem;
}

.ht-2 {
  height: 2rem;
}

.ht-10 {
  height: 10rem;
}

.ht-20 {
  height: 20rem;
}

.s-2 {
  width: 2rem;
  height: 2rem;
}

.s-3 {
  width: 3rem;
  height: 3rem;
}

.s-4 {
  width: 4rem;
  height: 4rem;
}

.s-6 {
  width: 6rem;
  height: 6rem;
}

.s-10 {
  width: 10rem;
  height: 10rem;
}

.s-full {
  width: 100%;
  height: 100%;
}

.s-hfull {
  height: 100%;
}

.s-wfull {
  width: 100%;
}

.style-blur {
  font-size: 0.8rem;
  color: gray;
}

/* components */

.c-dropdown {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.c-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
}

.c-dropdown:hover .c-dropdown-menu {
  display: inline-block;
}

.swiper-container {
  width: 100%;
}

.slick-prev {
  left: 25px;
  z-index: 1;
}

.slick-next {
  right: 25px;
  z-index: 1;
}

.slick-prev::before {
  content: url("../images/prev-white.svg");
}

.slick-next::before {
  content: url("../images/next-white.svg");
}

.slick-next::before, .slick-prev::before {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(185, 185, 185, 0.5);
}

.slick-next:hover .slick-next::before,.slick-prev:hover .slick-prev::before {
  opacity: 0.7;
}

.product-item:hover {
  box-shadow: 1px 1px 4px 2px rgb(206, 206, 206, 0.5), -1px -1px 4px 2px rgb(206, 206, 206, 0.5);
}

.page-item {
  padding: 0;
}

.footer-col {
  width: 20rem;
}

.breadcrumb {
  color: gray;
  font-weight: 300;
  font-size: 0.9rem;
  box-shadow: 1px 1px 5px solid rgb(206, 206, 206, 0.5);
}

.breadcrumb>ul>li:last-child {
  color: black;
}

.breadcrumb-arrow {
  background-image: url("../images/right-arrow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #f2f2f2;
  width: 1.2rem;
  height: 2rem;
}
