.detail-product table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.detail-product td, .detail th {
  text-align: left;
  padding: 0.8rem;
  border: 0.1rem solid rgb(228, 228, 228);
}

.detail-product th {
  background-color: rgb(238, 238, 238);
  width: 30%;
}

.detail-product tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.detail-product .intro-detail {
  font-size: 0.9rem;
}

.detail-product .intro-detail a {
  color: #0045ad;
}

.detail-product .title-detail {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

/* rating */
.detail-product .rating {
  font-size: 0.9em;
  font-family: sans-serif;
  color: gray;
}

.detail-product .star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 32px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.detail-product .fill-ratings {
  color: yellow;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;    
}
.detail-product .fill-ratings span {
  display: inline-block;
}

.detail-product .empty-ratings {
  padding: 0;
  display: block;
  z-index: 0;
}

.detail-product .real-price {
  text-decoration: line-through;
  color: #ccc;
}

.detail-product .discount {
  background-color: red;
  color: white;
  padding: 0.1rem;
}

.detail-product .discount-code {
  border-top: 0.1rem solid #ccc;
  border-bottom: 0.1rem solid #ccc;
}

.detail-product .discount-code p{
  font-size: 1.2rem;
  font-weight: 500;
}

.detail-product .amount input {
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: 0.1rem solid #ccc;
  background-color: white;
}

.detail-product .amount input:nth-child(2) {
  border-left: none;
  border-right: none;
}

.detail-product .buy {
  border: none;
  color: white;
  background-color: red;
  color: 1rem;
  padding: 1rem 8rem;
  border-radius: 0.5rem;
}

.detail-product #result-zoom {
  width: 50rem;
  height: 30rem;
  background-color: green;
  position: absolute;
  top: 0%;
  right: 30%;
  transform: translate(50%, 50%);
  z-index: 3;
}

.detail-product .img-selected {
  position: relative;
}

.detail-product .img-nonselected {
  cursor: pointer;
}

.detail-product .active {
  border: 0.1rem solid #003c9c;
}

.detail-product .img-zoom-lens {
  position: absolute;
  border: 0.1rem solid #d4d4d4;
  width: 6rem;
  height: 6rem;
  background-color: white;
  opacity: 0.5;
}

.detail-product .img-lens-off {
  opacity: 0;
}

.detail-product  .score-shop > div > span:nth-child(2){
  color: #ccc;
  font-size: 0.8rem;
}

.detail-product  .btn-shop > button {
  width: 7rem;
}

.detail-product .insurance {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 0.8rem;
}

.detail-product .insurance p:nth-child(1) {
  color: #ccc;
}

.detail-product .policy {
  font-size: 0.8rem;
}

.detail-product .compare {
  border-top: 1px solid #ccc;
  font-size: 0.8rem;
}

.detail-product .compare > button {
  width: 5rem;
}

.detail-product .wrap {
  border: 1px solid #ccc;
}

.detail-product .c-progress {
  height: 0.5rem;
  background-color: #ccc;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.detail-product .c-progress-bar {
  height: 0.5rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: yellow;
}

.detail-product .all-img > div > div > div{
  background-size: 100% 100%;
}

.detail-product .filter { 
  font-size: 0.9rem;
}

.condition-filter {
  background-color: rgb(241, 241, 241);
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.avatar-user-comment {
  border-radius: 50%;
  border: 1px solid rgb(241, 241, 241);
}

.time-from {
  font-size: 0.8rem;
  color: gray;
}

.written , .received {
  font-size: 0.9rem;
}

.written span, .received span {
  color: gray;
}

