.manage_address .action > span{
  padding: 1rem 0.manage_address .5rem;
  cursor: pointer;
}

.manage_address .avatar-account {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.manage_address .1rem solid #ccc;
}

.manage_address .nav-account {
  color: gray;
  border-bottom: 0.manage_address .1rem solid #ccc;
}

.manage_address .selected {
  color: black;
  background-color: rgb(235, 235, 235);
}

.manage_address nav {
  width: 20%;
}

.manage_address .wrap {
  width: 80%;
}
