.payment .amount input {
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: 0.1rem solid #ccc;
  background-color: white;
}

.payment .amount input:nth-child(2) {
  border-left: none;
  border-right: none;
}

.payment table {
  width: 100%;
}

.payment tr > * {
  padding: 1rem 0rem;
}

.payment tr > *:nth-child(1) {
  width: 5%;
}

.payment tr> *:nth-child(2) {
  width: 50%;
}

.payment tr > *:nth-child(3) {
  width: 15%;
  text-align: center;
}

.payment tr > *:nth-child(4) {
  width: 10%;
  text-align: center;
}

.payment tr > *:nth-child(5) {
  width: 15%;
  text-align: center;
}

.payment tr > *:nth-child(6) {
  width: 5%;
}

.payment input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.payment .wrap {
  border: 1px solid #ccc;
  padding: 1rem;
}

.payment #inside-modal {
  position: fixed;
  width: 80rem;
  height: 30rem;
  background-color: white;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: auto;
}

.payment #outside-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  opacity: 0.6;
}