.seen_product .product:hover {
  box-shadow: 1px 1px 5px 1px rgb(206, 206, 206, 0.5), -1px -1px 5px 1px rgb(206, 206, 206, 0.5);
}

.seen_product .avatar-account {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid #ccc;
}

.seen_product .nav-account {
  color: gray;
  border-bottom: 0.1rem solid #ccc;
}

.seen_product .selected {
  color: black;
  background-color: rgb(235, 235, 235);
}

.seen_product nav {
  width: 20%;
}

.seen_product .wrap {
  width: 80%;
}
