
.dashboard table {
  width: 100%;
}

.dashboard table th:nth-child(n + 2), .dashboard table td:nth-child(n + 2) {
  text-align: center;
}

.dashboard table tr {
  border-bottom: 0.01rem solid rgb(206, 206, 206);
  width: 100%;
}

.dashboard table tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.dashboard .tags td:nth-child(1) {
  padding: 1rem 0.5rem;
  width: 50%;
}

.dashboard .tags td:nth-child(2) {
  padding: 1rem 0.5rem;
  width: 30%;
}

.dashboard .tags td:nth-child(3) {
  padding: 1rem 0.5rem;
  width: 20%;
}

.dashboard .searchs td:nth-child(1) {
  padding: 1rem 0.5rem;
  width: 60%;
}

.dashboard .searchs td:nth-child(2) {
  padding: 1rem 0.5rem;
  width: 40%;
}
