.new_category .link {
  color: blue;
  text-decoration: underline;
  text-align: right;
}

.new_category .main-title {
  text-align: center;
  font-size: 2rem;
}

.new_category form {
  display: flex;
  justify-content: center;
}

.new_category .wrap-form {
  width: 80%;
  padding: 3rem 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(230, 230, 230), -0.1rem -0.1rem 0.2rem rgb(230, 230, 230);
  border-radius: 1rem;
}

.new_category button {
  color: white;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.8rem 0rem;
}

.new_category table {
  width: 100%;
}

.new_category table td {
  padding: 1rem 0rem;
}

.new_category table td:nth-child(1),.new_category  table td:nth-child(3) {
  color: gray;
  font-weight: bold;
}

.new_category table td:nth-child(3) {
  padding-left: 1rem;
}

.new_category input , .new_category select, .new_category textarea {
  width: 100%;
  padding: 0.8rem 0.5rem;
  outline: none;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
}

.new_category select {
  box-shadow: 0.1rem 0.1rem 0.25rem rgb(230, 230, 230), -0.05rem -0.05rem 0.1rem rgb(230, 230, 230);
}

.new_category input, .new_category textarea {
  box-shadow: inset 0.1rem 0.1rem 0.25rem rgb(230, 230, 230), inset -0.05rem -0.05rem 0.1rem rgb(230, 230, 230);
}

.new_category .action {
  width: 49%;
}

.new_category button:hover {
  border: none;
  outline: none;
}