.shop_list .sort {
  border-radius: 0.4rem;
  padding: 0.8rem 0.5rem;
  outline: 0;
  border: 0.001rem solid rgb(189, 189, 189);
}

.shop_list .btn-add {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  font-size: 1.5rem;
}

.shop_list table {
  width: 100%;
}

.shop_list table tr {
  width: 100%;
  border-bottom: 0.001rem solid rgb(189, 189, 189);
}

.shop_list tr > * {
  text-align: center;
  padding: 0.5rem 0rem;
}

.shop_list table tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.shop_list table th:nth-child(1), .shop_list td:nth-child(1) {
  width: 10%;
}

.shop_list table th:nth-child(2),.shop_list  td:nth-child(2) {
  width: 20%;
}

.shop_list table th:nth-child(3),.shop_list td:nth-child(3) {
  width: 20%;
}

.shop_list table th:nth-child(4), .shop_list td:nth-child(4) {
  width: 10%;
}

.shop_list table th:nth-child(5), .shop_list td:nth-child(5) {
  width: 10%;
}

.shop_list table th:nth-child(6), .shop_list td:nth-child(6) {
  width: 10%;
}

.shop_list table th:nth-child(7), .shop_list td:nth-child(7) {
  width: 20%;
}
